.logo{
  width: 280px;
  margin-top: 10px;
  margin-left: 30px;
}
.header{
  background:rgb(222, 223, 233);
  margin-bottom: 20px;
}
.header_area{
  padding: 20px;

}
.menu_area{
  margin-top: 30px;
  margin-left: -30px;
}
.menu_area nav a{
  background-color: #08067c;
  color: white ;
}
.nav-link{
  margin-inline: 10px;
}
.form-control{
  margin-left: 10px 
}
.menu_area nav a:hover{
  background-color: #7498e7;
}
.active{
  background-color:#072c70c7 !important;
}
.card{
  margin-top: 30px;
}
.mb.card-body{
  text-align: center;
  
}
.dropdown-toggle{
  background-color:rgb(2, 6, 56);
  margin-top: 20px;
  margin-left: 1300px;
  
}

.resultado img {
  float: left;
  padding-right: 0.4%;
  padding-top: 0.2%;
  height: 30px;
}

.tags {
  color: blue;
}
.cardNot{
  height: 550px;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}